

body{
    background-image:linear-gradient(rgb(14, 31, 128),aqua);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.title-game{
    height: 120px;
    background-image:linear-gradient(rgb(185, 144, 90), rgb(221, 192, 154) ) ;
text-align: center;    
}

h1{
    padding-top: 15px;
}

h2{
    font-family: sans-serif;
    color: darkgreen;
}

.button-titel{
    font-size: 25px;
    position: relative;
    /* top: 5px; */
    margin-left: 150px;
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 5%;
    border: none;
    display: inline-block;
      padding: 5px;
}

.button-titel :hover {
    background-color: rgb(25, 126, 92);
    border: black 3px solid;
}

.body-game{
   
    text-align: center;
    height: 470px;;
    margin-top: 0px;
}
table{
    border: black solid 3px;
    margin: auto;
    top: 200px;
    padding: 10px;
    margin-top: 50px;
    display: inline-block;
}

td{
    height: 30px;
    width: 30px;
    border: black solid 5px;
    cursor: pointer;
}

.cover{
    background-color: black;
}



.modal-end{
    background-image:linear-gradient(rgb(121, 34, 34),rgb(201, 142, 16));
height: 100px;
width: 200px;
position: absolute;
left: 520px;
top: 300px;
display: none;

}
button{
    cursor: pointer;

}

.life{
    font-size: 25px;
    position: absolute;
    top: 300px;
    left: 100px;
    margin-left: 150px;
    margin-bottom: 20px;
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 5%;
    border: none;
    display: inline-block;
      padding: 5px;
}


.smiley{
    position: absolute;
    height: 10px;
    width: 10px;
    /* margin-left: 150px; */
    display: inline-block;
    /* margin-bottom: 20px; */
    right:150px;
    top: 250px;
}

.score{
    background-color: aquamarine;
    font-size: 30px;
    display: inline-block;
    margin-left: 150px;
   padding: 5px;
    position: absolute;
    top: 200px;
    left: 100px;
}

h2{
    font-family: sans-serif;
    color: darkgreen;
    background-color: aquamarine;
    font-size: 30px;
    display: inline-block;
    margin-left: 150px;
   padding: 5px;
    position: absolute;
    top: 400px;
    left: 100px;
}
